.top-menu {
  width:  95%;
  padding: 13px;
  margin: auto;
  height: 10%;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
}

.sub-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-radius: 1em ;
  background-color:  white;
  padding: 1.5em 0 ;
  margin: 0 0.5em;
  box-shadow:inset 0 0 2px 2px  #adccff;
}

@media screen and (min-width: 1250px) {
  .top-menu {
    display: flex;
  }
}

@media screen and (max-width: 1250px) {

  .top-menu {
    display:block;
    width: 100%;

  }

}
