.graph-area{
    margin:auto;
    display: grid;
    width: 95%;
    height:79%;
    display: flex;
    align-items: center;
    justify-content: center;
}


table{
    border:none;
    border-collapse: collapse;
}