.controls-menu {
  background-color: white;
  display: grid;
  align-items: center;
  grid-template-columns: 12% 12% 28% 22%;
  width: 32%;
  column-gap: 5%;
}
.controls-menu > div {
  width: 100%;
}

.skip-control {
  text-align: center;
}

@media (max-width: 850px) {
  .controls-menu {
    width: 100%;
  }
}

