.top-menu {
  width: 100%;
  height: 10%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.maze-solvers {
  display: grid;
  grid-template-columns: 20% 30%;
  column-gap: 5%;
}

.maze-generation {
  display: grid;
  grid-template-columns: 20% 20%;
  column-gap: 5%;
}
.legend {
  display: grid;
  grid-template-columns: 15% 15% 15% 15%;
  column-gap: 5%;
  margin: 0;
  padding: 0;
}
.legend > li {
  display: inline-block;
  justify-self: center;
}
.legend > li > p {
  margin: auto auto;
  display: inline-block;
}
.legend > li > div {
  margin: auto;
}
